.body{
    overflow-y: hidden;
}
/* Para la tabla dentro del modal */
.table-responsive {
    max-height: 300px; /* Ajusta la altura para mostrar 6 registros */
    overflow-y: auto;  /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Añade un borde para mayor claridad */
    margin-bottom: 10px; /* Espacio debajo de la tabla */
}
thead th {
    position: sticky;
    top: 0;
    background-color: white; /* Fondo blanco para el encabezado */
    z-index: 10; /* Asegura que el encabezado esté por encima del cuerpo */
}

/* Opcional: hacer que las celdas de la tabla se ajusten al contenido */
.table th, .table td {
    white-space: nowrap; /* Evitar que el texto se rompa */
}
/* Contenedor principal con flexbox */
.container {
    display: flex;
    align-items: flex-start; /* Alinea los contenedores al inicio verticalmente */
    margin-top: 10%;
}

/* Contenedor izquierdo para los botones */
.left-side {
    width: 20%;
    margin-right: 20px;
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
    gap: 100px; /* Espacio entre botones */
}

/* Contenedor derecho para las tablas y el botón "Agregar" */
.right-side {
    width: 75%;
}

/* Ajustes adicionales */
.table-container {
    margin-top: 20px; /* Espacio adicional para las tablas */
}

