*{
    font-family: 'Poppins', sans-serif; 
}

.body{
    overflow-y: hidden;
}

.table-responsive {
    max-height: 300px; /* Ajusta la altura para mostrar 6 registros */
    overflow-y: auto;  /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Añade un borde para mayor claridad */
    margin-bottom: 5px; /* Espacio debajo de la tabla */
}
/* LE AGREGUE -1 PARA QUE APAEREZCA DEBAJO DEL SIDEBAR */
thead th {
    position: sticky;
    top: 0;
    background-color: white; /* Fondo blanco para el encabezado */
}

/* Opcional: hacer que las celdas de la tabla se ajusten al contenido */
.table th, .table td {
    white-space: nowrap; /* Evitar que el texto se rompa */
    vertical-align: middle; /* Alineación vertical centrada */
    text-align: center; /* Alineación horizontal centrada */
}

.table td.descripcion {
    max-width: 200px; /* Establece un ancho máximo */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto que se corta */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.cabeza {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* PARA EL DISEÑO DEL BUSCADOR PARA T_USUARIO */
.buscador{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

/* DISEÑO PARA LA PÁGINA PAQUETES-PRECIO */
.franja {
    background-color: #111821 !important;
    height: 30px;
    margin-top: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
}

.d-flex {
    margin: 2px; 
    padding: 0; 
}

.paquetes {
    margin: 20px;
    margin-top: 45px;
    padding: 5px 30px;
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Centra los elementos verticalmente */
}


.imagen img {
    width: 200px;
    height: 48px; 
}

.logo h4 {
    text-align: left; 
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 3px;
    font-size: 28px; 
    margin: 20px; /*NUEVO*/
}

/* PARA EL BOTON DEL BUSCADOR botone */
.botone{
    background-color: #38587C;
    border-radius: 0 10px 10px 0; /* Esquinas redondeadas solo en la superior izquierda e inferior izquierda */
    border: none;
    color: white;
    width: 90px;
    height: 37px;
}

.botone:hover {
    background-color: #29405a;
}

.botones{
    background-color: #38587C;
    border-radius: 10px;
    color: white;
}

.botones:hover {
    color: white;
    background-color: #29405a;
}

.encabezado {
    background-color: #111821 !important; /* Cambia el color al rojo */
    color: white !important; /* Cambia el color del texto a blanco */
}

#mensajeAlerta {
    position: fixed;
    top: 30px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.agregar{
    height: 40px;
    margin: 0;
}

.editar{
    height: 40px;
}

.eliminar{
    width: 220px;
    height: 40px;
    padding: 0px 0px;
}

/* tamaño del select de t_usuario */
.seleccionar, .buscar{
    width: 250px;
    border-radius: 0;
}
.seleccionar{
    border-radius: 10px 0 0 10px;
}