.body{
    overflow-y: hidden;
}
.table-responsive {
    max-height: 300px; /* Ajusta la altura para mostrar 6 registros */
    overflow-y: auto;  /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Añade un borde para mayor claridad */
    margin-bottom: 10px; /* Espacio debajo de la tabla */
}
thead th {
    position: sticky;
    top: 0;
    background-color: white; /* Fondo blanco para el encabezado */
    z-index: 10; /* Asegura que el encabezado esté por encima del cuerpo */
}

/* Opcional: hacer que las celdas de la tabla se ajusten al contenido */
.table th, .table td {
    white-space: nowrap; /* Evitar que el texto se rompa */
    vertical-align: middle; /* Alineación vertical centrada */
    text-align: center; /* Alineación horizontal centrada */
}
.table td.descripcion {
    max-width: 200px; /* Establece un ancho máximo */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto que se corta */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}