.body{
    overflow-y: hidden;
}
.table-container {
    max-height: 300px; /* Ajusta la altura para mostrar 6 registros */
    overflow-y: auto;  /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Añade un borde para mayor claridad */
    margin-bottom: 0px; /* Espacio debajo de la tabla */
}

/* Estilos para el thead */
thead th {
    position: sticky;
    top: 0;
    background-color: white; /* Fondo blanco para el encabezado */
    z-index: 10; /* Asegura que el encabezado esté por encima del cuerpo */
}

/* Evita que las celdas se dividan en varias líneas */
.table th,
.table td {
    white-space: nowrap; /* Mantiene el texto en una sola línea */
}
.table td, .table th {
    padding: 5px; /* Reduce el padding dentro de las celdas */
    vertical-align: middle; /* Centra verticalmente el contenido */
    text-align: center; /* Alineación horizontal centrada */
}

.botones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
}
/* Ajusta el ancho de la columna de descripción */
.table td.descripcion {
    max-width: 200px; /* Establece un ancho máximo */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto que se corta */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.lista1{
    gap: 30px;
}

.lista{
    gap: 25px;
    padding: 5px;
}

.numero, .dias{
    text-align: center;
    width: 250px;
}
.form-select{
    width: 250px;
}
.nombre, .destino{
    width: 350px}

.section1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.seccion1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.listas{
    background: #38587C;
    border-radius: 10px; 
    padding: 20px; 
    width: 350px; 
    color: #FFF; 
    padding: 10px;
}

.input-group-text{
    width: 110px;
}

.signo{
    width: 50px;
}

.linea {
    width: 90%;          /* Ancho de la línea */
    margin: 20px auto;    /* Centra la línea horizontalmente */
    border: 3px solid white; /* Color y grosor de la línea */
    opacity: 0.8;
}
#mensajeAlerta {
    position: fixed;
    top: 30px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
